= render 'shared/header'

.body
  .mypage
    = render 'side-bar'

    .mypage__main
      .mypage-section-logout
        .link-logout
          = link_to destroy_user_session_path, method: :delete, class: 'btn-logout' do
            .text
              ログアウト

= render 'shared/footer'