// カテゴリーindexページ
.category-index{
  margin: 40px;
  .view-pc{
    width: 700px;
    margin: 0 auto;
    .category-top-text{
      padding: 8px 0;
      font-size: 22px;
      line-height: 1.5;
      font-weight: 600;
    }
    .category-list{
      display: flex;
      flex-wrap: wrap;
      .category-list-btn{
        background-color: $white;
        color: $black;
        min-width: 80px;
        height: 40px;
        padding: 0 30px;
        margin: 5px;
        line-height: 40px;
        border-radius: 5px;
        box-sizing: border-box;
        .list-style{
          text-decoration: none;
          .list-name{
            font-size: 16px;
          }
        }
      }
      .category-list-btn:hover{
        color:$white;
        background-color: $red;
      }
    }
    .category-list-box{
      margin: 30px auto;
      .category-list-box-white{
        background-color: $white;
        .category-list-title{
          background-color: $red;
          color: $white;
          padding: 7px 30px 0 30px;
          height: 40px;
          line-height: 40px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          .title-name{
            font-size: 22px;
            font-weight: 600;
          }
        }
        .category-list-inner-box{
          padding: 24px 30px 10px 30px;
          .all-name{
            display: inline;
            font-size: 16px;
            color: $light-blue2;
          }
          .all-name:hover{
            color: $light-blue3;
            border-bottom: 1px solid $light-blue2;
          }
          .category-list-child-title{
            padding-top: 15px;
            padding-bottom: 5px;
            .child-name{
              font-size: 15px;
              font-weight: 600;
            }
          }
          .category-list-grandchild-box{
            padding: 0 20px 10px 20px;
            .category-list-grandchild-title{
              display: flex;
              flex-wrap: wrap;
              .grandchild-btn{
                margin-top: 8px;
                margin-bottom: 8px;
                width: 50%;
                .grandchild-link{
                  text-decoration: none;
                  .grandchild-name{
                    display: inline;
                    font-size: 16px;
                    color: $light-blue2;
                  }
                  .grandchild-name:hover{
                    color: $light-blue3;
                    border-bottom: 1px solid $light-blue2;
                  }
                }
              }
            }
          }
        }
      }      
    }
  }
}
// カテゴリーshowページ
.category-show{
  margin: 40px auto 40px;
  width: 1020px;
  .category-link{
    display: flex; 
    flex-wrap: wrap;
    .category-list{
      margin: 16px 16px 0 0;
      .list-name{
        font-size: 14px;
        color: $light-blue2;
        &:hover{
          color: $light-blue3;
          border-bottom: 1px solid;
          border-color: $light-blue2;
        }
      }
    }
  }
  .category-top-text{
    font-size: 22px;
    font-weight: 600;
    margin: 24px 0 8px;
  }
  .products-content{
    .product-box{
      display: flex;
      flex-wrap: wrap;
      .product-one{
        width: 180px;
        margin: 0 20px 20px 0;
        box-sizing: border-box;
        position: relative;
        .product-photo-size{
          width: 180px;
          height: 180px;
        }
        .product-name{
          background-color: $white;
          height: 58px;
          padding: 8px 12px;
          font-size: 14px;    
          .product-price{
            z-index: 1;
            position: absolute;
            top: 150px;
            left: 0;
            padding: 4px 12px 4px 8px;
            border-radius: 0 16px 16px 0;
            font-weight: 600;
            color: $white;
            background-color: $black;
          }
        }
      } 
    }
  }
  
  .category-bottom{
    margin-top: 30px;
    .category-bottom-text{
      height: 50px;
      background-color: $red;
      color: $white;
      font-size: 22px;
      font-weight: 600;
      text-align: center;
      line-height: 50px;
    }
    .category-bottom-description-area{
      background-color: $white;
      padding: 30px;
      .description-text{
        line-height: 1.5em;
      }
    }
  }
}