#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    #modalWindow {
      width: 600px;
      height: 300px;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      z-index: 2;
      .modal-message-box {
        width: 100%;
        height: calc(100% - 60px);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 16px;
        font-weight: 600;
      }
      #modal-close-btn {
        width: 100%;
        height: 60px;
      }
    }
  }