.page, .first, .prev, .next, .last {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid $gray;
  border-radius: 5px;
  letter-spacing: normal;
  text-align: center;
  line-height: 50px;
  background-color: $white;
  font-size: 14px;
  & a {
    display: block;
    color: $black;
    text-decoration: none;
  }
  &:hover{
    background-color: $cream;
  }
}
.first, .prev {
  float: left;
}

.last, .next {
  float: right;
}
.current {
  background-color: $red;
  color: $white;
}