$red: #ea352d;
$white: #fff;
$white2: #f5f5f5;
$white3: #eee;
$white4: #eeeeee;
$white5: #fafafa;
$black: #333;
$black2: #000000;
$gray: #ccc;
$gray2: #888;
$light-blue: #b3d4fc;
$light-blue2: #0099e8;
$light-blue3: #b3d4fc;
$navy: #385185;
$cream: #f5f5f5;